<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ntech.quizer">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quizer">
        <activity
            android:name="com.ntech.quizer.Std1_Activity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ntech.quizer.Std2_Activity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ntech.quizer.Std3_Activity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.ntech.quizer.EnterNameActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ntech.quizer.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ntech.quizer.Stand_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ntech.quizer.SelectSub_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ntech.quizer.Reg_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ntech.quizer.Inst_Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ntech.quizer.QuestionsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ntech.quizer.QuestionsStd1Math"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ntech.quizer.QuestionsStd1English"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ntech.quizer.QuestionsStd1Gkn"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ntech.quizer.QuestionsStd2Math"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ntech.quizer.QuestionsStd2English"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ntech.quizer.QuestionsStd2Gkn"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ntech.quizer.QuestionsStd2Evn"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ntech.quizer.QuestionsStd3Math"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ntech.quizer.QuestionsStd3English"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ntech.quizer.QuestionsStd3Gkn"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ntech.quizer.QuestionsStd3Evn"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ntech.quizer.ResultsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>